header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: rgba(216, 234, 239, 0.9);
}

header .logo {
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
}

header .logo h2 {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -2px;
}

header .logo img {
    margin: 0px 5px;
    width: 32px;
    height: 32px;
}

header .navigation a {
    color: #000;
    background: transparent;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 5px;
    border-radius: 20px;
    transition: 0.5s;
}

header .navigation a:not(:last-child) {
    margin-right: 30px;
}

header .navigation a:hover {
    background: #1dab3c;
}

@media (width < 900px) {
    header {
        padding: 10px 20px;
    }
}
