@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #4d7c5b;
    --background-color: #D8EAEF;
    --primary-color-dark: #34543e;
    --white: #fff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--background-color);
}

.header__section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(../images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    max-width: 650px;
    margin: 60px 100px;
}

.content .info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content .info h2 {
    color: var(--primary-color);
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info p {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    max-width: 60%;
}

.content .download-btn {
    color: #fff;
    background: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 30px 0px;
}

.content .download-btn:hover {
    background: #79ac71;
}

section {
    margin: 0px 50px;
    padding: 40px;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 50px;
}

#container div.feature {
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title-description {
    max-width: 50%;
}

.title-description h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.image-container {
    max-width: 50%;
    position: relative;
    display: flex;
}

.image-container img {
    width: 351px;
    height: 760px;
    border-radius: 20px;
    border: 5px solid var(--primary-color);
}

section.intro {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}

#video-container {
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

iframe {
    padding: 30px;
}

#about {
    display: flex;
    justify-content: center;
}

#about div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#about p {
    max-width: 50%;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

#about h1 {
    font-size: 34px;
    font-weight: 700;
}

@media (width < 900px) {
    #container div.feature {
        flex-direction: column;
    }

    .title-description {
        max-width: 100%;
    }

    .image-container {
        width: 100%;
        justify-content: center;
    }
}
